<!-- Interpolazione -> {{ prop }} -->
<p>counter works! {{ cnt }}</p>

<!-- Event Binding -> (evento)="handler()"-->
<button (click)="handleCounter(false)">-</button>
<button (click)="handleCounter(true)">+</button>
