<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!--
            Quando invocate un componente con il suo selettore in un template,
            la proprietà a sinistra (ovvero all'interno delle parentesi quadre o tonde) coincide con
            la proprietà del componente FIGLIO. L'elemento a destra, ovvero quello all'interno degli apici
            è l'elemento del componente PADRE
        -->
        <tr app-users-list-row *ngFor="let user of users" [user]="user"></tr>
    </tbody>
</table>