<form (ngSubmit)="handleSubmit()">
    <div>
        <label>Email</label>
        <input name="email" [(ngModel)]="email" required email #e="ngModel" [appForbidden]="['admin@dominio.com', 'moderator@dominio.com']">
        <div *ngIf="e.invalid">
            <div *ngIf="e.hasError('forbidden')">Questa email non è ammessa</div>
        </div>
    </div>
    <div>
        <label>Password</label>
        <input name="password" [(ngModel)]="password">
    </div>
</form>