<h2>Form Multistep</h2>
<!-- <ng-template appAnchor></ng-template> -->
<div *ngIf="stepComponent | async as cmp">
    <ng-template [ngComponentOutlet]="cmp"></ng-template>
    <ng-container *ngComponentOutlet="cmp"></ng-container>
</div>